#container{
    width:100%;
    padding:0;
}
.list_title h3{
    margin-bottom:0;
}

#controll{
   margin-right:4%;
    float:right;
    margin-top:7%;
    padding-left:11%;
}
#header {
    border-bottom: 48px solid #007bff;
    margin: 0;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
    color:black;
    width:100%;
}
#number_class{
    display:flex;
    align-items:baseline;
}
#SlistR, #SlistA {
    /*border: 1px groove black;*/
    text-align: center;
    min-width:200px;
    overflow-y: scroll;
    max-height:415px;
    width:100%;
    background-color:white;
    
}
#subject 
{
    float:none;
    background-color:white;
    border:inherit;
    border-radius: 0px;
}

    
    #sl_block{
        display:flex;
    }
#select_all {
    display: flex;
    flex-direction: column;
    border-left: 1px dotted black;
    padding:2px;
    background-color:white;
}

#metaData {
    width: 100%;
    margin: 2%;
}
#sAdd {
    width: 100%;
    margin: 0;
}
@media (max-width: 1050px) {
    #SlistR, #SlistA {
       
        max-height: 200px;
    }
    #controll {
        display:flex;
        flex-direction:column;

       
    }
    #SlistA{
      
    }
    searchDeatails {
        margin-bottom: 2%;
    }
}
#main{
    margin-right:3%;
}
#header {
    color: white;
}
.row{
    text-align:center;
}



#container, html {
    height: 100vh;
    background: #f1f1f1;
    overflow-x: hidden;
}

.student {
    display: flex;
    align-items: baseline;
    width: 100%;
    margin: 2% 0 2% 0;
 
}
.list_title{

    background-color:white;
}
.student:hover {
    background-color: #f1f1f1;
}

#holder {
    height: 250px;
    width: 100%;
    background: linear-gradient(to bottom right,rgba(27, 173, 221, 0.83),rgba(255, 255, 255, 0.56));
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

#holder>p{

    font-size:30px;
}
label{
    
    font-size:25px;
}

#submitter{
    margin-top:3px;
}

