#container {
    background: linear-gradient(rgba(65, 55, 55, 0.95),#1B4DDD) url('../images/login.jpg');
    background: #f1f1f1;
    /*background-image: url('../images/EDvalueBig.png'); /* fallback */
    /*background-image: url('../images/EDvalueBig.png'), linear-gradient( rgba(65, 55, 55, 0.95), #1B4DDD);*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    position: relative
}
#login {
    /*background-image:*/ 
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    position: absolute;
   text-align:right;
    top: 31%;
    left: 20%;
    border: 4px groove white;
    width: 35%;
    height: 30%;
    box-shadow: 4px 3px #888877;
    margin: 0 10%;
}

#insertRow {
    padding-top: 4%;
}
#details > span {
    
    float: right;
    margin-right: 1%;
    color:#ada9a9;
    font-weight:bold
        
}
#details > input {
    
    float: right;  
    width:70%;
    margin-left:50%;
}
#details {
    padding: 5%;
    width:100%
}
#header{
    
    text-align:center;
    width:50%;
    margin-right:25%;
    /*border-bottom:2px groove white;*/
    color:white;
}
#conect {
    text-align: center;
    float: right;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 48%;
    background-color: rgba(72, 93, 215, 0.87);
    border: 5px groove white;
    font-weight: bold
}
img{
    height:100px;
    margin-top:10%;
    margin-right:8%;
}
@media{

}
