@import url('https://fonts.googleapis.com/css?family=Roboto');
/*

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Roboto;
    padding: 50px;  
    height: 100vh;
    display: flex;
    align-items: center;
    
}

#quizInfo {
    border: 3px groove white;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.79);
    height: 120px;
    background: linear-gradient(to bottom right,rgba(146, 145, 148, 1.00),#fff);
    display: flex;
    align-items: center;

}

    #quizInfo:hover {
        transform: scale(1.03, 1.03);
        background-color: rgba(72, 93, 215, 0.30);
        z-index: 3;
    }

.date {
    flex: 0 0 50px;
    
    writing-mode: vertical-rl;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgQuiz {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    margin-top: auto;
}
    .imgQuiz > img {
        display: block;
        height: 20px;
     
    }
.content {
    display: flex;
    flex-direction: column;
    height:100%;
}