#disbackg {
    visibility: hidden;
    height: 1000px;
    width: 1410px;
    background: #000;
    opacity: 0.8;
    z-index: 2 !important;
    position: fixed;
    top: 0;
    left: 0;
   border-color:rgba(0, 255, 33, 0.78)
}
#task_table_filter{
    direction:ltr;
}
#addFB {
    z-index: 20;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #0094ff;
}
th.sorting {
    margin: 0;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
#header {
    border-bottom: 48px solid #007bff;
    margin: 0;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
    color: black;
    width: 100%;
}

#inte_questionnaire{
    height:225px;
    border-top:1px dotted white
}
.inte_img{
    margin-top:auto;
}
#tbl_int img:hover{
    transform:scale(1.04)
}




#insertStar {
    flex: 0 1 auto;
    margin-right: 15%;
    font-size: 20px;
}
#grade_input>input{
    width:100%;
    font-size:20px;
    text-align:center;
}

#grade_input {
    flex: 0 1 15%;
}

#myFBform {
    display: flex;
    flex-direction: column;
}
#grade {
    display: flex;
}
#assigment {
    background-color: #f1f1f1;
    position: fixed;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index:5;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}
    #assigment a{
        text-align:left;
    }

#assigmentForm{
    display:flex;
    flex-direction:column;

}
    #assigmentForm .btn {
        background-color: #007bff;
    }
#class_date {
    
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#assignmentFormBtn{
    margin-bottom:20px;
}
#fb_metaData{

    margin-bottom:20px;
}

#submition_date {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#task_div{
    position:relative;
}
.inte_BTN{
    margin-bottom:6%;
}

.fb  p {
    margin-right:19%
}
#fbBTN {
    display: flex;
    margin-bottom: 10px;
}
