#myClassForm{
   text-align:right;
  display:flex;
  flex-direction:column;
  align-items:center;
   padding-bottom:2%;
   width:100%
}
#btns_class {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center
        
}

th {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 18px;
    margin: auto;
   
}
thead {
    background: #f1f1f1;
}

td {
    text-align: center;
}
#SalesTable_length {
    color: black;
    font-size: 14px;
}
#title {
    margin-top: 1.5%;
    margin-bottom: 1%;
    color:black;
}


#Ttitle {
    width: 80%;
    margin-right: 10%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 3%;
    color: black;
    font-size: 45px;
}

.sorting {
    text-align: center;
    
}

#school_uDetails {
    margin-right: 25%;
}
#det_Uadding{
    margin-top:10px;
}

#editDIV {
    width: 100%;
    display: flex;
    align-items: center;
    

}

#editUDiv {
    width: 600px;
    height: 400px;
    position: fixed;
    top: auto;
    border: 1px solid white;
    z-index: 3;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.selected {
    background:linear-gradient(#fff,#1B4DDD);
}

.form-group.row {
    width: 100%;
    float: right;
   padding-left: 3%;
    
    background-color: #007bff;
    
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
}
.form-group .col-sm-3 {
    width:22%
}
#btns_class > input {
    margin-right: 3px;
}

#st_table{
    width:80%;
    margin-right:10%;
}
@media only screen and (max-width:574px) {
    #editUDiv {
        width: 100%;
        height: 400px;
        position: absolute;
        top: 27%;
        left: 0;
        right: 0;
        border: 1px solid white;
        z-index: 3;
        background: linear-gradient(#fff,#1B4DDD);
        display: flex;
        flex-direction: column;
    }

}