#container{
    background-color:#f1f1f1;
}

#main{
   text-align:right;
    display:flex;
   padding-top:10%;
}
#file {
    display: flex;
    align-items: center;
    flex-direction: column
}
#sendBTN {
    display: flex;
    align-items: center;
}
#uploadFile {
    display: flex;
    font-size: 18px;
    justify-content: center;
}
#report {
    position: absolute;
    background: linear-gradient(#fff,rgba(27, 77, 221, 0.86));
    right:30%;
    top:30%;
    z-index:2;
}

#instruction{

    font-size:18px;
}
#excelTBL{
    visibility:hidden;
}
#title {
    margin-top: 1.25%;
}
h3 {
    margin-right:10%;
}