#container{
    background-color:#f1f1f1;
}
p{
    margin:inherit;
}
#close_report{
    margin-bottom:30px;
}
#main {
    text-align: right;
    display: flex;
    padding-top: 10%;
}
input[type='file']{
    display:none;
}
#rep_tbl_wrapper .row:nth-child(1) {
    direction: ltr;
    width: 100%;
}
#file {
    display: flex;
    align-items: center;
    width: 100%;
}
#ph_file img{
    height:32px;
    width:32px;
}
#ph_file {
    width: 100%;
    height: 100px;
    text-align: center;
}
#fileBTN{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:20px;
}
#sendBTN {
    display: flex;
    align-items: center;
}
#uploadFile {
    display: flex;
    font-size: 18px;
    justify-content: center;
}
#report {
    position: absolute;
    background-color: #fff;
    right: 30%;
    border-radius: 5px;
    top: 20%;
    z-index: 2;
}

#instruction{

    font-size:18px;
}
#excelTBL{
    visibility:hidden;
}
#title {
    margin-top: 1.25%;
}
h3 {
    margin-right:10%;
}
.sorting {
    text-align: center;
}
.loader {
    border: 16px solid #fff;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    margin: 0px auto;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}