#container{
    background-color:#f1f1f1;
}
#header{
    
    text-align:center;
    width:50%;
    margin-right:25%;
    
}

#conect_deatails {
    text-align: start;
    display: flex;
    flex-direction: column;
}
#main {
    display: flex;
    padding-top: 10%;
    justify-content: center;
    padding-top: 2%;
    height: 100vh;
}

a {
    color: #1B4DDD;
    font-size: 15px;
}

#password {
    margin-top: 5%;
}

#button_deatails > img {
    width: 30%;
    height: 30%;
    margin-bottom: 7%;
}

#button_deatails {
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#connect {
    background: linear-gradient(#007bff,#ffff);
    font-size: 21px;
    width: 70%;
}

#passForget {
    margin-top: 10px;
    font-size: 15px;
    color: #1B4DDD;
    border-bottom: 1px solid #1B4DDD;
    width: max-content;
}

    #passForget:hover {
        transform: scale(1.06)
    }

#details {
   
    border: 3px groove #f1f1f1;
    display: flex;
    align-items: center;
    height: 210px;
}
img {
    height: 100px;
    margin-top: 10%;
    margin-right: 8%;
}