
#container{
   height:max-content;
}
#task_div{
    margin-top:6%;
    width:70%;
    margin-right:15%;
}

#tbl_int {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
    #tbl_int img{
        width:50px;
        height:50px;
    }

    .fb > p {
        background-color: #5bc0de;
        color: white;
        padding: 2px;
        text-align: center;
        border-radius: 7px;
    }
    .fb > p:hover {
        background-color: rgba(91, 192, 222, 0.90);
        transform:scale(1.01);
    }
.fb {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
ion-icon {
    color: #5bc0de;
    font-size: 25px;
}
#close_w_fb, #close_addFB {
    width: max-content;
    color: white;
    font-size: 20px;
    background-color: red;
    padding: 1px 3px 1px 3px;
    border: 1px dotted white
}

ion-icon:hover {
   
    font-size: 27px;
}
    #add_task {
        border-bottom: 1px dotted white;
    }

td{
    text-align:center;
}
#questionnaire_div {
    position: absolute;
    bottom: 10%;
    top:10%;
    right: 25%;
    left: 25%;
    width: 50%;
    height: 500px;
    z-index: 10;
    background-color: mintcream;
    padding: 0 1% 1% 1%;
    border: 2px groove white;
}

.inte_BTN>input {
    width:100%;
}
.inte_img > img {
    width: 100%;
    height:150px;
}
#inte_questionnaire {
    display: flex;
    flex-direction: column;
    border: 2px groove white;
    height: 225px;
}
#inte_questionnaire:hover{
    transform:scale(1.05);
    z-index:3;
}
#close_questionnaire_div{
    margin-bottom:6px;
}
.inte_img {
    margin-top: auto;
}
#close_questionnaire_div > p {
    margin: 0;
    border: 1px solid black;
    width: max-content;
}
#close_questionnaire_div>P:hover {
    transform: scale(1.001);
    color:white;
    background-color:rgba(27, 77, 221, 0.66)
    
}
@media only screen and (max-width:874px) {
    /* For mobile phones: */
    #questionnaire_div {
        width: 75%;
        right: 12.5%;
        left: 12.5%;
    }
    #w_fb {
        width: 75%;
        right: 12.5%;
        left: 12.5%;
    }
    #task_div {
        margin-top: 6%;
        width: 90%;
        margin-right: 5%;
    }
}

/*----------------feedBack css---------------*/
#w_fb {
    position: absolute;
    bottom: 10%;
    top: 10%;
    right: 25%;
    left: 25%;
    width: 50%;
    height: 500px;
    z-index: 15;
    background-color: #0094ff;
}


#fbTitle {
    text-align: center;
    width: 100%;
}

    #fbTitle > h3 {
        padding-top: 0;
        margin-top: 0;
    }

#fb_metaData {
    display: flex;
    align-items: flex-end;
}

#q_score {
    text-align: center;
}

#w_fb_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: 1px dotted black;
}

#main_fb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}


.fbDiv {
    display: flex;
    width: 100%;
    padding: 2px;
    flex-direction: column;
    border-bottom: 1px solid black;
}
@media only screen and (max-width:574px) {
    /* For mobile phones: */
    #questionnaire_div {
        width: 90%;
        right: 5%;
        left: 5%;
    }
    #w_fb {
        width: 90%;
        right: 5%;
        left: 5%;
    }
    
    #task_div {
        margin-top: 6%;
        width: 100%;
        margin:0;
    }
}

