body {
    margin:0;
}
input[type=file] {
    display: none;
}

.filedrag {
    border: 2px dashed #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px #ccc;
    background-image: url('../images/fileUpload.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:60px;
    width: 90%;
    height: 80%;
    margin: auto auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 3%;
}
.link{
    display:none;
    width:0;
}

.qu {
    margin-bottom: 30px;
    border-bottom: 2px dashed #007bff;
    padding: 50px;
}


#upload-BTN {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 30%;
    margin-right: 35%;
    padding: 3%;
}
 .filedrag img{
     
     width:120px;
     height:inherit;

 }


.displayFile {
    border-radius: 20px;
    border: 1px groove #007bff;
    box-shadow: 2px 2px #007bff;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 25%;
    height: 150px;
    margin-top: 2%;
}

#main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    text-align: right;
}
#main>div{
    margin:25px 5px 25px 0;
}

#extraData {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}




    #extraData img {
        display: block;
        height: 280px;
    }

#submitDIV {
    display: flex;
    width: 100%;
    justify-content: center;
    margin:10% 0 5% 0;
}

#AmericanAmswerBlock {
    display: flex;
    align-items: center;
}
    #AmericanAmswerBlock span {
        font-size: 25px;
        margin: 0;
    }
#Question_content{
    
}
#AmericanAmswerBlock p {
    font-size: 25px;
    margin: 0;
}
    input[type=checkbox] {
        zoom: 2;
    }


#header {
    color: wheat;
    background-color: rgba(65, 55, 55, 0.75);
    text-align: center;
}

#QuizTitle {
    width: 100%;
    text-align: center;
    border-bottom: 48px solid #007bff;
    padding-bottom: 0.5%;
}
#bg {
    background-image: url('../images/EDvalueBig.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 60%;
    height: 50%;
    z-index: -3;
}
textarea {
    margin-bottom: 1%;
    margin-left: 30%;
    border: 1px solid black;
    border-bottom-left-radius: 10%;
    float: right;
}
.Cradio, .Ctext,.Cupload {
    padding:5%;
    float: right;
    text-align: right;
    border-bottom: 2px groove black;
    width: 100vw;
}

#myFile {
    background-color: rgba(117, 136, 245, 0.90);
    width: 25%;
    margin-right: 32%;
    border: 1px solid rgba(117, 136, 245, 0.90);
    border-radius:50% 50%;
    padding:0.6%;
}