body {
    margin:0;
}
input[type=file] {
    display: none;
}

.markAns {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}



span.markAns,p.markAns {
    color:#007bff;
}


#t_fb {
    display: flex;
    justify-items: center;
    flex-direction:column;
    width: max-content;
    margin: 0 auto;
}
.fb_content{

    display:flex;
    text-align:right;
}

#nextSt_pop>#per_sel>select>option:hover {
    background-color: white;
}

#nextSt_pop {
    width: 20%;
    height: 170px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 1px groove #808080;
    z-index: 3;
    background: #fff;
    border-radius: 7%;
    padding-bottom: 2%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    box-shadow: 2px 2px 2px #000;
    flex-direction: column;
}
#nextSt_pop {
    display: flex;
    flex-direction: column;
}
.c_opt{

    background-color:rgba(42, 255, 0, 0.84);
}
.Nc_opt {
    background-color: #32e55bd1;
}

.grade_fb {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note_fb {
    display: flex;
    flex-direction: column;
}

.filedrag {
    border: 2px dashed #ccc;
    border-radius: 20px;
    box-shadow: 1px 1px #ccc;
    background-image: url('../images/fileUpload.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    width: 90%;
    height: 80%;
    margin: auto auto;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 3%;
}
.link{
    display:none;
    width:0;
}

.qu {
    margin-bottom: 30px;
    padding: 50px;
    box-shadow: 2px 2px 2px #000;
    border-radius: 7%;
}


#upload-BTN {
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 40%;
    margin-right: 30%;
    padding: 3%;
}
 .filedrag img{
     
     width:120px;
     height:inherit;

 }


.displayFile {
    border-radius: 20px;
    position:relative;
    border: 1px groove #007bff;
    box-shadow: 2px 2px #007bff;
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 25%;
    height: 150px;
    margin-top: 2%;
}

#main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    text-align: right;
}
#main>div{
    margin:25px 5px 25px 0;
}

#extraData {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

    #extraData img {
        display: block;
        height: 280px;
    }

#submitDIV {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 8% 0 5% 0;
    box-shadow: 1px 1px 1px #000;
}

#AmericanAmswerBlock {
    display: flex;
    align-items: center;
}
    #AmericanAmswerBlock span {
        font-size: 25px;
        margin: 0;
    }
#Question_content{
    
}
#AmericanAmswerBlock p {
    font-size: 25px;
    margin: 0;
}
    input[type=checkbox] {
        zoom: 2;
    }


#header {
    color: wheat;
    background-color: rgba(65, 55, 55, 0.75);
    text-align: center;
}

#QuizTitle {
    width: 100%;
    text-align: center;
    border-bottom: 48px solid #007bff;
    padding-bottom: 0.5%;
}
#bg {
    background-image: url('../images/EDvalueBig.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 60%;
    height: 50%;
    z-index: -3;
}
textarea {
    margin-bottom: 1%;
    margin-left: 30%;
    border: 1px solid black;
    border-bottom-left-radius: 10%;
    float: right;
}
.Cradio, .Ctext,.Cupload {
    padding:5%;
    float: right;
    text-align: right;
    border-bottom: 2px groove black;
    width: 100vw;
}

#myFile {
    background-color: rgba(117, 136, 245, 0.90);
    width: 25%;
    margin-right: 32%;
    border: 1px solid rgba(117, 136, 245, 0.90);
    border-radius:50% 50%;
    padding:0.6%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    position: absolute;
    top: 27%;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:975px) {
    .displayFile {
        width:80%;
        margin-right:10%;
    }

    #upload-BTN {
        width: 80%;
        margin-right:10%;
    }
}

select {
    width: 88%;
    text-overflow: ellipsis;
}