body {
    margin:0;
}
input[type=file] {
    display: none;
}
#main {
   margin-left:5%;
   margin-right:5%;
    margin-top:5%;
    width:90%;
    text-align:right;
}
#main>div{
    margin:25px 5px 25px 0;
}

#extraData {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}




    #extraData img {
        display: block;
        height: 280px;
    }

#submitDIV {
    display: flex;
    width: 100%;
    justify-content: center;
    margin:10% 0 5% 0;
}

#AmericanAmswerBlock {
    display: flex;
    align-items: center;
}
    #AmericanAmswerBlock span {
        font-size: 25px;
        margin: 0;
    }
#Question_content{
    font-size:30px;
}
#AmericanAmswerBlock p {
    font-size: 25px;
    margin: 0;
}
    input[type=checkbox] {
        zoom: 2;
    }


#header {
    color: wheat;
    background-color: rgba(65, 55, 55, 0.75);
    text-align: center;
}

#QuizTitle {
    width: 30%;
    margin-right: 35%;
    text-align: center;
    border-bottom: 2px double rgba(117, 136, 245, 0.90);
    padding-bottom: 0.5%;
}
#bg {
    background-image: url('../images/EDvalueBig.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 60%;
    height: 50%;
    z-index: -3;
}
textarea {
    margin-bottom: 1%;
    margin-left: 30%;
    border: 1px solid black;
    border-bottom-left-radius: 10%;
    float: right;
}
.Cradio, .Ctext,.Cupload {
    padding:5%;
    float: right;
    text-align: right;
    border-bottom: 2px groove black;
    width: 100vw;
}

#myFile {
    background-color: rgba(117, 136, 245, 0.90);
    width: 25%;
    margin-right: 32%;
    border: 1px solid rgba(117, 136, 245, 0.90);
    border-radius:50% 50%;
    padding:0.6%;
}