body {
    background-color: rgba(65, 55, 55, 0.75);
}

.fb_content{
    position:absolute;
    top:100%;
    background-color:#fff;
    padding:20px;
    width:350%;
    text-align:right;
}
.score {
    border: 1px solid #1BADDD;
    margin-right: auto;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50%;
}

ion-icon.colorO {
    color: green;
    stroke: green;
    font-size:20px
}
ion-icon.colorC {
    color: red;
    stroke: red;
    font-size: 20px
}


#Task, #SmallTask {
    border: 3px groove white;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.79);
    height: 340px;
    width: 208px;
    background: white;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#SmallTask {
    height: 250px;
    width: 208px;
}
    #Task:hover, SmallTask:hover {
        transform: scale(1.03, 1.03);
        
        z-index: 3;
    }

#activeO, #Nactive, #activeC {
    margin-right: 3%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
#cBTN{
    display:flex;
    flex-direction:column;
    margin-right:auto;
}



#intelliO {
    flex-direction: row-reverse;
    color: white;
    width: 100%;
    border: 3px groove #f1f1f1;
    box-shadow: 2px 2px 2px #000;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    align-items: stretch;
}
.NaImage img {
    width: 100px;
    height: 100px;
}

.NaImage{
    width:100%;
}
#sys_tit {
    position: absolute;
    top: 27%;
    right: 3%;
    color: #007bff;
}
.classDate{
    font-size:14px;
}
.times {
    font-family: Arial;
    display: flex;
    flex-direction: column;
}
.time_for, .time_till {
    display: flex;
}
#q_tit {
    position: absolute;
    top: 77%;
    right: 3%;
    color: #007bff;
}
    #q_tit span{
        font-size:10px;
    }
.spanPoints {
    border: 1px solid #007bff;
    border-radius: 50% 50%;
    height: 50%;
    box-shadow: 1px 1px 1px;
    width: 23%;
    transform: translate(-13px, -30px);
    font-size: 12px;
    color: #007bff;
    z-index: 4;
}

.imgQuiz {
    width: 16.6667%;
    align-items: center;
    height: 70%;
    display: flex;
    flex-direction: column
}
.imgQuestionnire{
    text-align:center;
}
h3 {
    color:#1BADDD;
    margin-bottom:3%;
}
    .content_new {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
#tasks {
    width: 100%;
    text-align:center;
}
#container{
    height:auto;
    padding-bottom:10%;
}
#taskName{
    display:flex;
}
#cBTN > button {
    margin-right: auto;
    margin-top: 5%;
    width: 122%;
    padding: 0;
    font-size: 12px;
    background: linear-gradient(to bottom right,rgba(77, 77, 255, 0.67),#fff);
}
.NaImage > img:hover {
   
    transform: scale(1.1);
    box-shadow:2px 2px 2px #000;
    background-color:#fff;
    transition: all .25s linear;
    z-index:2;
}
.name_date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#ladder {
    width: 80%;
    margin-right: 10%;
    display: flex;
    font-weight: 800;
    color: #E94F37;
}
    #ladder > p:nth-child(3), #ladder > ion-icon:nth-child(2) {
        margin-right: auto;
    }
.name_date > p:nth-child(2) {
    margin-right: auto;
}

/*משימות בביצוע*/

.content_active{
    display:flex;
    padding:0;
    width:100%
}
.imgQuestionnire {
    text-align: center;
}
.imgQuestionnire>img {
    width:50%;
    height:inherit;
}
.Time {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}
.fb {
    display: flex;
    align-items:center;
    align-items:center;
    justify-items:center;
    position:relative;
}
    .fb>p:hover{
       transform:scale(1.03);
    }
    .fb:hover {
        border-bottom: 2px solid #1BADDD;
    }
.fb>p,.cq>p{
    margin:0;
}

.right {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5%;
    align-items: start;
    flex-direction: column;
    flex: 0 0 52%;
}

.opt{
    display:flex;
    width:100%;
}
.cq {
    margin-right: 3%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    border-right: 1px dotted white;
}
  
.Name{
    font-size:25px;
}
.ClassDate{
    font-size:12px;
}
#ch_q_div {
    position: fixed;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    padding-top: 1.5%;
    background-color:#262626;
    border: 1px groove #808080;
    z-index: 3;
    background: rgba(255, 255, 255, 0.87);
    display: flex;
    box-shadow: 2px 2px #fff;
    justify-content: center;
}
.cq_questionnaire{
    width:20%;
    padding:2%;
    margin-top:auto;
}
    .cq_questionnaire > img {
        
        width: 100%;
        height: 120px;
    }

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

/*----------------*/