#TControlBtns {
    width: 54%;
    text-align: center;
    display: flex;
    /*justify-content: space-between;*/
    margin-right: 0;
}

.PastC{

    background-color:rgba(241, 241, 241, 0.85);
}

#selector {
    margin: auto 45.5%;
}
    #TControlBtns>button:hover{
        border-bottom:1px solid white;
    }
#Tcontroll {
    width: 100%;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 1%;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
}
#nav_cnt {
    text-align: center;
 
}
    #nav_cnt > p:hover {
        background: linear-gradient(rgba(116, 116, 224, 0.69),#fff);
    }
    #newClass {
    margin-top: 5%;
    width: 20%;
    color: white;
    font-weight: bold;
    background-color: rgba(72, 93, 215, 0.87);
    box-shadow: 4px 3px rgba(72, 93, 215, 0.62);
    border: 1px groove rgba(72, 93, 215, 0.87);
}
 #newClass:hover {
        background-color: rgba(72, 93, 215, 0.62);
 }
#teams {
    width: 100%;
    text-align: center;
  
    margin:0;
}
#team {
    display: flex;
    border: 14px solid #f1f1f1;
    height: 215px;
    width: 208px;
    padding: 0;
    border-radius: 5px;
    margin-top: 3%;
    /*margin-right: 3%;*/
}

.searchDiv{
    height:22px;
    margin-right:auto;
    
}
#team_bar {
    background: white;
    height:100%;
    flex: 0 0 49%;
    display: flex;
    flex-direction: column-reverse;
}

#name {
    margin-top: auto;
}
    #name p{
        font-size:25px;
    }
    #addTaskBTN {
        
        margin-bottom:10%;

    }
#numOfS > p {
    padding-top: 5%;
    border: 1px groove white;
    height: 50px;
    /*border-radius: 50%;*/
    width: 50px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 50%;
    /*transform: translate(.9em, -.9em);*/
}
#school {
    float: left;
}

#sub_img {
flex:1;
border-radius:5px;
background-color:white;
}
#subImg_el {
    
    height: 100%;
    width: 100%;
    float: left;
    border-radius: 5px;
}
/*search*/
.searchbar {
    margin-bottom: 12%;
    height: 36px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0px;
    line-height: 20px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    margin-left: 3%;
    width: 200px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
#choose > p {
    margin-top: 5%;
    margin-right: 9%;
    font-size: 18px;
}



#choose {
    width: 100%;
    text-align: center;
}
/*------------------------------*/
.btnonSmall {
    float: right;
}
.navBar {
    background-color: #007bff !important;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .4);
}
.navPadding{
    padding:0;
}